---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="プライバシーポリシー">
  <Header />
  <div class="wrapper">
    免責事項
    当サイトのすべてのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めていますが、必ずしも正確性・信頼性等を保証するものではありません。当サイトの情報によるいかなる損失に関して、免責とさせて頂きます。ご利用の際はあらかじめご了承ください。
    本免責事項、および、当サイトに掲載しているコンテンツ・情報は、予告なしに変更・削除されることがあります。予めご了承下さい。
    著作権について
    当サイトに掲載されている情報についての著作権は放棄しておりません。当サイト記事からの引用に関しましては「引用元の明示」によって無償で引用頂けます。
    ただし、全文転載はお断りいたしております。引用許可範囲についても、事前予告なくこれを変更する事があります。また当サイトのRSSを利用し、コンテンツをそのまま盗用することも禁止しています。
    アクセス解析ツールについて
    当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このツールはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
    この機能はブラウザで無効にすることが可能です。Cookieを無効にする方法やGoogleアナリティクスに関する詳細はGoogle
    アナリティクス利用規約をご確認ください。
  </div>
</Layout>

<style>
  .wrapper {
    @apply mx-auto mt-10 max-w-md;
  }
</style>
